<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <!--  -->
    <h1>Browsing the <%= name %> subreddit!</h1>
    <h2><%= description %></h2>
    <h2>Total subscribers: <%= subscribers %></h2>
    <h2>Posts</h2>
    <hr />
    <% for(let post of posts){ %>
    <article>
      <p><%= post.title %></p>
      <p>- <b> <%= post.author %></b></p>
      <% if(post.img){ %> <% } %>
      <img src=" <%= post.img  %> " alt="" />
    </article>
    <hr />
    <% } %>
  </body>
</html>
